h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  color: LightSkyBlue;
}

p {
  font-family: 'Raleway', sans-serif;
}

.col2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#more {

}

#hire {
  align-self: end;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}
.smallcaps {
  font-family: 'Oswald', sans-serif;
  font-variant: small-caps;
  font-size: 18px;

}

.thin {
  font-weight: 300;
}

.center {
  text-align: center;
}

.menu {
  color: white;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e );
  width: 100%;
  height: 5%;
  font-variant: small-caps;
  position: sticky;
}

.button {
  margin: 5px;
  vertical-align: -90%;
}

.button a {
  text-decoration: none;
}

.button a:link {
  color: white;
}

.button a:visited {
  color: darkgrey;
}

.button a:hover {
  color: orange;
}
