.menu {
  color: white;
  font-size: 1.5em;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e );
  width: 100%;
  height: 5%;
  font-variant: small-caps;
}

.button {
  margin: 5px;
  vertical-align: -90%;
}

.button a {
  text-decoration: none;
}

.button a:link {
  color: white;
}

.button a:visited {
  color: darkgrey;
}

.button a:hover {
  color: orange;
}
